.left-navi
{
  margin-right: 10px;

}
.advance-search
{
  padding-bottom: 19px;
}
.advance-search2
{
  padding-bottom: 80px;
}

.center-button
{
	text-align: center;
	width: 130px;
	padding-top: 20px;
}